.container-fluid {
  padding-right: 60px;
  padding-left: 60px;

}

.adblock {
  width: 350px;
  display: inline-block;
  padding: 9px 35px;
  vertical-align: top;
  margin: 10px 10px;

  background-color:#dff0d8;
  transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}

.hover1 {
  background-color:#fff;
}

.adblock p {
  display: inline-block;
  border-top: 3px dotted gray;
}

.adblock h2 {
  display: inline-block;
  float: left;
}

.adblock .badge {
  position: relative;
  right: -11px;
  top: 11px;
  height: 35px;
  font-size: 2em;
  line-height: 1.2em;
  width: 30px;
  text-align: center;
}

.inner {
  width:80%;
  margin: 0 auto;
}

.crew-member {
  display: inline-block;
  position: relative;
  width: 65%;
  margin: 10px 6px;
  margin-bottom: -60px;
}

.crew-member p {
  margin: 10px 0px;
}

.description {
  line-height: 1em;

}

.crew {
  margin: 0 auto;
  width:90%;
}

.fullname {
  /*float: left;*/
  font-size: 2.5em;
  font-weight: bold;
  line-height:1em;

}

.crew-member img {
  display:inline-block;
  float:left;
  margin-right: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-width:150px;
  border: 4px solid #333;
}

.icon-align-vert {
  vertical-align:middle;
}

.media {
  margin-top: 0px;
  width: 45%;
  float: left;
}


.row-fluid {
  margin: 20px 0px;
}

.media:first-child {
  margin-top: 0px;
}